//- =======================
//- COMMON MIXINS
//- =======================

//- Lorem ipsum mixin
mixin lorem(n)
	- var words_num = n || 10
	- var tpl = "Donec sed velit neque. Fusce suscipit vel lorem id fermentum. Vivamus ex massa, suscipit a mi nec, dapibus facilisis mi. Integer cursus mi orci, et auctor dui interdum nec. Pellentesque ipsum nisl, aliquam at molestie eu, varius eu urna. Quisque sed metus auctor, malesuada tortor ut, hendrerit enim. Vestibulum gravida arcu vitae est pretium, vel accumsan sapien iaculis. Vestibulum commodo hendrerit dolor ut malesuada. Duis non pellentesque velit, eu vulputate est. Quisque aliquet congue leo at molestie. Nunc ac risus tellus. Cras urna purus, suscipit non pharetra vel, facilisis ut sapien. Etiam mattis est at arcu venenatis laoreet. Nulla accumsan massa libero, in efficitur purus vulputate vitae."

	- var words = tpl.split(/\s+/,words_num)
	span=words.join(" ")


//-avatar
mixin avatar
	.user-avatar__img
		img(src="assets/img/default_avatar.jpg")


mixin socialsBlock()
	ul.social-links
		- var socialLinks = { "vk" : "https://vk.com/", "fb" : "https://www.facebook.com/", "twitter" : "https://twitter.com/?lang=en", "google" : "https://plus.google.com/up/follow", "email" : "mailto:mail@gmail.com"}
		each link_url, link_name in socialLinks
			li.social-links__item
				a.social-links__link(href=link_url)
					svg.social-links__svg
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-soc_" + link_name)

mixin socialsBlock_edit()
	ul.social-links
		- var socialLinks = { "vk" : "https://vk.com/", "fb" : "https://www.facebook.com/", "twitter" : "https://twitter.com/?lang=en", "google" : "https://plus.google.com/up/follow", "email" : "mailto:mail@gmail.com"}
		each link_url, link_name in socialLinks
			li.social-links__item
				a.social-links__link.js-open-social-form(href=link_url)
					svg.social-links__svg
						use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-soc_' + link_name)
				.social-links__form
					input.input_rounded(name="", type="text")
					button.btn.btn_transparent Сохранить
					button.btn.btn_link.js-close-form Отменить

mixin albumItem(title, category, comments, likes, thumb, user_avatar, user_name, description)
	.album-item(data-title="#{title}" data-likes="#{likes}" data-comments="#{comments}" data-thumb="assets/img/#{thumb}" data-user_avatar="assets/img/#{user_avatar}" data-user_name="#{user_name}" data-desc="#{description}")
		.album-item-holder
			.album-photo
				a.open-img-popup.js-open-slider(href="#")
					.album-mask
						i(class="fa fa-search-plus")
					.album-photo__thumb(style="background-image: url('assets/img/#{thumb}')", alt="")
			.album-desc
				.album-desc__user
					.photo-user-img
						img(src="assets/img/#{user_avatar}", alt="")
						a.photo-user-img__mask(href="user.html")
							svg.svg-more
								use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-more")
				.album-desc__info
					.photo-desc-title= title
					.photo-info
						button.photo-info__item
							i(class="fa fa-commenting") 
							span.comment-count= comments
						button.photo-info__item
							i(class="fa fa-heart") 
							span.like-count= likes
			.album-category
				a.category-name(href="album.html")
					svg.svg-category
						use(xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#icon-album")
					span= category


			.is-hidden.comments_hidden

				+commentItem(
					'assets/img/default_avatar.jpg',
					'user.html',
					'Виталий Виноградов',
					'Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением. Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.')

				+commentItem(
					'assets/img/default_avatar.jpg',
					'user.html', 
					'Татьяна Литвинова', 
					'Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением. Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.')



mixin albumSingle(category, album_photo)
	.album-item
		.album-item-holder
			a(href="album.html" class="my-album")
				img(src="assets/img/#{album_photo}", alt="")
				.album-mask
					.mask-content
						div.mask-content__desc Фотографии природы леса, енотов и оленей...
						div.mask-content__count
							span 18
							|  Фотографий
			.album-category
				a.edit-post.js-add-album(href="#")
					i(class="fa fa-pencil")
				span.category-name= category

mixin singlePhoto(title, category, comments, likes, thumb, user_avatar, user_name, description)
	.album-item.single-photo(data-title="#{title}" data-likes="#{likes}" data-comments="#{comments}" data-thumb="assets/img/#{thumb}" data-user_avatar="assets/img/#{user_avatar}" data-user_name="#{user_name}" data-desc="#{description}")
		.album-item-holder
			.album-photo
				a.open-img-popup.js-open-slider(href="#")
					.album-mask
						i(class="fa fa-search-plus")

					.album-photo__thumb(style="background-image: url('assets/img/#{thumb}')", alt="")
				.photo-info
					button.photo-info__item
						i(class="fa fa-commenting") 
						span.comment-count= comments
					button.photo-info__item
						i(class="fa fa-heart") 
						span.like-count= likes
			.album-category
				a.edit-post.js-edit-photo(href="#")
					i(class="fa fa-pencil")
				span.category-name= category
				
		.is-hidden.comments_hidden
				+commentItem(
					'assets/img/default_avatar.jpg',
					'user.html',
					'Виталий Виноградов',
					'Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением. Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.')

				+commentItem(
					'assets/img/default_avatar.jpg',
					'user.html', 
					'Татьяна Литвинова', 
					'Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца. Я совсем один и блаженствую в здешнем краю, словно созданном для таких, как я. Я так счастлив, мой друг, так упоен ощущением. Душа моя озарена неземной радостью, как эти чудесные весенние утра, которыми я наслаждаюсь от всего сердца.')

mixin avatarSmall(imgUrl, imgAlt, userUrl)
	.photo-user-img
		img(src='#{imgUrl}', alt='#{imgAlt}')
		a.photo-user-img__mask(href='#{userUrl}')
			svg.svg-more
				use(xmlns:xlink='http://www.w3.org/1999/xlink', xlink:href='#icon-more')

mixin commentItem(user_avatar, user_url, user_name, comment_text)
	.comments__item
		.comments__item-photo
			+avatarSmall(user_avatar, user_name, user_url)
		.comments__item-info
			.user__name #{user_name}
			.comments__item-text #{comment_text}


//- Parallax bg for login page
mixin parallax(type)
	- var p_type = type || "axis"
	.parallax-wrapper
		ul#scene(class=p_type)
			- for (var n = 0; n < 6; n++)
				li.layer(data-depth=(0.2*n))
					div(class = "layer-bg layer-bg_" + n)